.header{
    height: 400px;
    /* top: 60px; */
    margin-top: 60px;
    /* position: relative; */
    background-color: #232f3e;
    /* background-color: ; */
    display: flex;
    color: #fff;
    align-items: center;

    justify-content: space-evenly;
}

.all{
    display: inline;
}

.header_ops p{
    display: inline;
    /* width: 0%; */
    margin-left: 15px;
}

.header_ops{
    width: 90%;
    font-size: 0.85rem;
}

.he_li{
    display: inline;
}
